/*html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/

/*a, .btn-link {
    color: #006bb7;
}*/

/* =========================
   NAVBAR (FIGMA STYLE)
========================= */


body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
}

/* Kill bootstrap link styling */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
/* GLOBAL */
.mw-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 34px;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Validation message */
.validation-message {
    display: block;
    margin-top: 6px;
    font-size: 13px;
    color: #d14343; /* soft premium red */
    font-weight: 500;
}

/* Invalid input */
input.invalid,
input:invalid,
.mw-input.input-validation-error {
    border-color: #d14343;
    background: #fff5f5;
}

/* Focus state */
.mw-input:focus {
    border-color: #1E2A47;
    box-shadow: 0 0 0 2px rgba(30,42,71,0.1);
}

/* Error focus override */
.mw-input.input-validation-error:focus {
    border-color: #d14343;
    box-shadow: 0 0 0 2px rgba(209,67,67,0.1);
}