################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build folders
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider / VS Code
.idea/
.vscode/

# Logs
*.lo
/docs/Muuqwear full design ref
_build_out/
_build_out2/
_build_out3/
_build_out_api/
_build_verify/
_build_verify2/
