@* 
<div class="mw-admin-logo">
    MUUQWEAR
</div>


    <nav class="mw-admin-nav">
        <div class="nav-item px-3">
            <NavLink href="/admin" class="mw-admin-link" Match="NavLinkMatch.All">
                Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="/admin/products" class="mw-admin-link">
                Products
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink href="/admin/orders" class="mw-admin-link">
                Orders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            
            <NavLink href="/admin/users" class="mw-admin-link">
                Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink href="/admin/cart" class="mw-admin-link">
                Cart
            </NavLink>
        </div>
    </nav>
 *@








<div class="mw-admin-logo">MUUQWEAR</div>

<nav class="mw-admin-nav">
    <div class="nav-item px-3">
        <NavLink href="/admin" class="mw-admin-link" Match="NavLinkMatch.All"
                 @onclick="OnLinkClicked">
            🗂 Dashboard
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink href="/admin/products" class="mw-admin-link"
                 @onclick="OnLinkClicked">
            👕 Products
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink href="/admin/orders" class="mw-admin-link"
                 @onclick="OnLinkClicked">
            📦 Orders
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink href="/admin/users" class="mw-admin-link"
                 @onclick="OnLinkClicked">
            👤 Users
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink href="/admin/cart" class="mw-admin-link"
                 @onclick="OnLinkClicked">
            🛒 Cart
        </NavLink>
    </div>
</nav>

@code {
    [Parameter] public EventCallback OnLinkClicked { get; set; }

}