@page "/login"
@layout Layout.AuthLayout.AuthLayout
@using Microsoft.AspNetCore.Components.Authorization
@using MuuqWear.Application.Services.AuthService
@using MuuqWear.Application.Shared
@rendermode InteractiveServer
@using MuuqWear.Model.Authentication
@inject IAuthService IAuthService
@inject AuthStateService AuthStateService
@inject NavigationManager NavigationManager
@inject CustomAuthenticationStateProvider AuthStateProvider

<section class="mw-auth">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-6 col-lg-4 mt-5">
                <div class="mw-auth-card text-center">

                    <img src="/images/muuqwearlogo.png" class="mw-auth-logo mb-3" />
                    <h2 class="mw-auth-title">Login</h2>
                    <p class="mw-auth-subtitle mb-4">Enter your credentials</p>

                    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
                        <DataAnnotationsValidator />

                        <div class="mb-3">
                            <InputText class="form-control"
                                       placeholder="Email"
                                       @bind-Value="loginModel.Email" />
                            <ValidationMessage For="@(() => loginModel.Email)" />
                        </div>

                        <div class="mb-3">
                            <InputText class="form-control"
                                       placeholder="Password"
                                       type="password"
                                       @bind-Value="loginModel.Password" />
                            <ValidationMessage For="@(() => loginModel.Password)" />
                        </div>
                        <!-- REMEMBER ME -->
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="form-check text-start">
                                <input type="checkbox"
                                       class="form-check-input"
                                       id="rememberMe"
                                       @bind="rememberMe" />
                                <label class="form-check-label small" for="rememberMe">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="mw-btn-primary w-100">
                            Login
                        </button>

                        <div class="@messageCssClass mt-2">
                            <span>@message</span>
                        </div>

                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    private LoginModel loginModel = new();
    private string message = "";
    private string messageCssClass = "";
    private bool rememberMe = false;


    private async Task HandleLogin()
    {
        var result = await IAuthService.Login(loginModel);

        if (result.Success && result.Data != null)
        {
            var authData = result.Data;
            if (authData.Role != "user")
            {
                message = "Access denied.";
                messageCssClass = "text-danger";
                return;
            }
            await AuthNavigationHelper.PrepareAndNavigateAsync(
                    result.Data,
                    NavigationManager,
                    "/login",
            rememberMe);
        }
        else
        {
            message = result.Message;
            messageCssClass = "text-danger";
        }
    }
    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask is null) return;

        var authState = await AuthenticationStateTask;

        if (authState.User.Identity?.IsAuthenticated == true)
        {
            NavigationManager.NavigateTo("/profile", replace: true); // ✅ Always /profile
        }
    }
}
