@page "/verify-2fa"
@layout Components.Layout.AuthLayout.AuthLayout
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MuuqWear.Application.Services.AuthService;
@inject IAuthService IAuthService;
@inject NavigationManager NavigationManager;
@inject AuthStateService AuthStateService


@using MuuqWear.Application.Shared
@using MuuqWear.Model.Authentication

<section class="mw-auth">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-12 col-sm-10 col-md-6 col-lg-4">

                <div class="mw-auth-card text-center">

                    <!-- LOGO -->
                    <img src="/images/muuqwearlogo.png" class="mw-auth-logo mb-3" />

                    <h2 class="mw-auth-title">Verify Code</h2>

                    <p class="mw-auth-subtitle mb-4">
                        Enter the 6-digit code sent to your email
                    </p>

                    <!-- FORM -->
                    <EditForm Model="@verifyOtpModel" OnValidSubmit="HandleVerify">

                        <DataAnnotationsValidator />

                        <!-- CODE INPUT -->
                        <div class="mb-3">

                            <InputText class="form-control mw-otp-input"
                                       maxlength="6"
                                       @bind-Value="verifyOtpModel.Otp" />

                            <ValidationMessage For="@(() => verifyOtpModel.Otp)" />

                        </div>

                        <!-- BUTTON -->
                        <button type="submit" class="mw-btn-primary w-100">
                            Verify
                        </button>
                        <div class="@messageCssClass">
                            <span>@message</span>
                        </div>
                    </EditForm>

                    <!-- RESEND -->
                    <p class="mt-3 small">
                        Didn’t receive code?
                        <button class="mw-link-btn" @onclick="ResendCode">
                            Resend
                        </button>
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Email { get; set; }

    string message = string.Empty;
    string messageCssClass = string.Empty;
    private bool? _isLoaded = false;

    private VerifyOTPModel verifyOtpModel = new();

    private async Task HandleVerify()
    {
        var request = new VerifyOTPModel
        {
            Email = Email,
            Otp = verifyOtpModel.Otp
        };

        var result = await IAuthService.VerifyOTP(request);

        if (result.Success && result.Data != null)
        {
            await AuthStateService.ClearPendingEmailAsync();

            var data = result.Data;

            await AuthNavigationHelper.PrepareAndNavigateAsync(
          result.Data,
          NavigationManager,
          "/profile");
        }
        else
        {
            message = result.Message;
            messageCssClass = "text-danger";
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Email = await AuthStateService.GetPendingEmailAsync();

            if (string.IsNullOrEmpty(Email))
            {
                NavigationManager.NavigateTo("/register");
                return;
            }


            _isLoaded = true;
            StateHasChanged();
        }
    }
    private void ResendCode()
    {
        Console.WriteLine("Resend clicked");
    }
}